* {
  margin:0;
  padding:0;
}

.NavBar {
  display: flex;
  align-items: center;
  margin: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid;
  border-color: #3e8299;
}

.NavBar h1 {
  margin: 5px auto 5px 5px;
  font-family:Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 22px;
}